.habit-container{
    padding: 20px;
    width: 220px;
    background-color: black;
    border-radius: 20px;
}

.habit-upperBody{
    padding: 20px;
    border-radius: 20px;
    background-color: rgb(37, 37, 37);
}

.header{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 10px;
}

.habit-image{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    overflow: hidden;
    background-color: rgb(56, 56, 56);
    display: flex;
    align-items: center;
    justify-content: center;
}

.habit-image img{
    height: 60%;
    width: 60%;
    object-fit: cover;
    object-position: center;
}

.graph{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.graph .ant-progress-circle-trail{
    stroke: rgba(228, 228, 228, 0.308);
}
.graph .ant-progress-text{
    color: rgb(226, 226, 226) !important;
}

.habit-btns{
    height: 50px;
    width: 100%;
    /* border-radius: 50px; */
    margin-top: 20px;
    display: flex;
    /* overflow: hidden; */
}
.habit-btns button{
    flex: 1;
    outline: none;
    border: 0px solid yellowgreen;
    color: white;
    background-color: rgb(37, 37, 37);
    /* background-color: rgb(30, 30, 30); */
    cursor: pointer;
    transition: all 0.3s;
}

.habit-btns .dec-count{
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
.habit-btns .dec-count:hover{
    color: red;
}

.habit-btns .inc-count{
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.habit-btns .inc-count:hover{
    color: yellowgreen;
}

.habit-btns button:hover{
    background-color: rgb(53, 53, 53);
}

.header h4{
    font-size: 20px;
}


